/*Se eliminan los margenes y cajas en general
de toda la pagina */

/*El *{} inicial lo quie dice es que le va a dar formato a todo*/
*{
	margin: 0px;
	padding: 0px;
}

/*Formato al Titulo Principal de la pagina*/
h1{
	/*Color de letra blanco*/
	color:#ffffff;
	/*Se trabaja el elemento como
	un bloque en linea*/
	display: inline-block;
	/*Se establece un margen de 25 pixeles
	con respecto a la parte superior de la 
	pagina*/
	margin-top: 25px;
	/*Se define una posicion adsoluta*/
	position: absolute;
	/*Se define el ancho del elemento con respecto
	a la pagina*/
	width: 100%;
}

/*Formato al Titulo Secundario de la pagina*/
h2{
	/*Color de letra blanco*/
	color:#ffffff;
	/*Se trabaja el elemento como
	un bloque en linea*/
	display: inline-block;
	/*Se establece un margen de 25 pixeles
	con respecto a la parte superior de la 
	pagina*/
	margin-top: 80px;
	/*Se define una posicion adsoluta*/
	position: absolute;
	/*Se define el ancho del elemento con respecto
	a la pagina*/
	width: 100%;
}

/*Formato a los parrafos de la pagina*/
p{
	/*Establece un margen de  15 pixeles a la iz*/
	margin-left: 15px;
	/*Lo despliega como bloque en linea*/
	display: inline-block;
	/*Define el tipo de letra como arial*/
	font-family: arial;
}

/*Da formato a los textos asociados a las cajas
de texto disponible en el Inicio de Sesion*/
.lbl{
	/*Establece un color de fondo Negro*/
	background-color: #000000;
	/*Color de letras blanco*/
	color: #ffffff;
	/*Establece la letra en negrita*/
	font-style: bold;
	/*Define el tamaño de la letra*/
	font-size: 18px;
	/*Elimina margenes al lado derecho*/
	margin-right: 0px;
	/*Crea una caja interna*/
	padding: 7px;
	/*Define el ancho del elemento*/
	width: 100px;
}

/*Da formato a las cajas de texto*/
.txt{
	/*Define el color de fondo en celeste*/
	background-color: #B0C4DE;
	/*Color de la letra blanco*/
	color: #000000;
	/*Establece la altura en pixelkes de la caja*/
	height: 32px;
	/*Elimina margeb izquierdo*/
	margin-left: 0px;
}

/*Da formato al boton de Inicio de Sesión*/
#btnAutenticar{
	/*Define color de fondo*/
	background-color: #228D22;
	/*Redondea la ezquina inferior izquierda*/
	border-radius: 0px 0px 0px 20px;
	/*Establece el color de la letra*/
	color: #ffffff;
	/*Da la altura al boton*/
	height: 35px;
	/*Elimina margenes*/
	margin: 0px;
	/*Ancho del elemento*/
	width: 400px;
}

/*Da formato al boton de - Generar Comtrasenña*/
#btnRecuperar{
	/*Define color de fondo*/
	background-color: #FFD700;
	/*Redondea la ezquina inferior izquierda*/
	border-radius: 0px 0px 20px 0px;
	/*Establece el color de la letra*/
	color: #ffffff;
	/*Da la altura al boton*/
	height: 35px;
	/*Elimina margenes*/
	margin: 0px;
	/*Ancho del elemento*/
	width: 400px;
}

/*Se da formato a la cabeza de la pagina*/
#cabeza{
	/*Establece el color de fondo*/
	background-color: #000000;
	/*Pinta una linea (borde) en la parte superior
	e inferior de la cabeza de pagina*/
	border-top: 6px solid #FFFFFF;
	border-bottom: 6px solid #FFFFFF;
	/*Despliega como bloque*/
	display: block;
	/*Define alto de la cabeza*/
	height: 150px;
}

/*Se da formato al contenedor de los 
elementos de clave*/
#clave{
	/*Se depliega en bloque*/
	display: block;
	/*Color de la letra en blanco*/
	color: #ffffff;
	/*Altura en pixeles*/
	height: 35px;
	/*Margenes - automaticos*/
	margin-top: 20px;
	margin-bottom: 50px;
	/*Ancho en pixeles*/
	width: 300px;
}

/*Se da formato al contenedor de los 
elementos de Usuario*/
#usuario{
	/*Se depliega en bloque*/
	display: block;
	/*Color de la letra en blanco*/
	color: #ffffff;
	/*Altura en pixeles*/
	height: 35px;
	/*Margenes - superior 20px inferior 50px*/
	margin-top: 20px;
	margin-bottom: 50px;
	/*Ancho en pixeles*/
	width: 300px;
}

/*Formato al contenedor de los controles*/
#controles{
	/*Define imagen de fondo*/
	background-image: url(D3.jpg);
	/*Redondea la ezquinas superiores*/
	border-radius: 25px 25px 0px 0px;
	/*Despliegue en bloque*/
	display: block;
	/*Altura del contenedor*/
	height: 175px;
	/*Transparencia de la imagen 50%*/
	opacity: 0.5;
	/*Establece la posicion en pantalla*/
	position: relative;
	/*Margenes - Automaticos*/
	margin: auto;
	/*Margen superior*/
	margin-top: 60px;
	/*Ancho del elemento*/
	width: 800px;
}

/**/
#inicio{
	/*Despliegue en bloque*/
	display: block;
	/*Pone ekl bloque a flotar, a partir del 
	ultimo elemento a la izquierda*/
	float: left;
	/*Ancho del vloque*/
	width: 400px;
}

/*Da formato al texto dentro del container - Para iniciar sesión...*/
#informacion{
	/*Crea un borde al lado izquierdo y lo pinta*/
	border-left: 6px solid #2F4F4F;
	/*Color de letra*/
	color: #ffffff;
	/*Despliega en bloque*/
	display: block;
	/*Tamano de la letra*/
	font-size: 18px;
	/*Pone a flotar  a la ezquierda*/
	float: left;
	/*Altura del elemento*/
	height: 164px;
	/*Margen Superior*/
	margin-top: 5px;
	/*Ancho del elemento*/
	width: 380px;
	/*Formato del texto - alinceacion*/
	text-align: justify;
}

/**/
#cuerpo{
	/*Despliega los tags como un bloque*/
	display: block;
	/*Define el tamano del cuerpo de
	la pagina, en este caso a ocupar
	el 100% del tamano del navegador*/
	height: 100%;
	/*Establece la forma de posicionar los bloques*/
	position: absolute;
	/*Define el tamano del cuerpo*/
	width: 100%;
	/**/
	background-image: url(Fondo.jpg);
	/**/
	background-repeat: no-repeat;
	/**/
	background-size: cover;
}

/**/
#logo{
	/*Despliega el icono en bloque*/
	display: block;
	/*La imagen se comporta como 
	un bloque flotante a la izquierda*/
	float: left;
	/*Establece un margen al logo*/
	margin: 20px;
}

/**/
#lblUser{
	border-radius: 0px 0px 0px 0px;
}

/**/
#lblClave{
	border-radius: 0px 0px 0px 0px;
}

/**/
#opciones{
	/*Despliega en bloque*/
	display: block;
	/*Define altura del elemento*/
	height: 50px;
	/*Establece la posicion en la pantalla*/
	position: relative;
	/*Establece un margen en los 4 lados del elemento*/
	margin: auto;
	/*Define el ancho del elemento*/
	width: 1000px;
}

/**/
#txtUser{
	border-radius: 0px 20px 0px 0px;
}

/**/
#textoPass{
	border-radius: 0px 0px 20px 0px;
}